node_modules/
.env
dist/
package-lock.json
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
dist/style.css
dist/style.css
